@import "tailwindcss";

@layer base {
  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  *::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }

  select option,
  select optgroup {
    background-color: #09090B;
    color: #ffffff;
  }
}

/* Global font apply */
body {
  font-family: "Outfit", "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Utilities */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }
}
