@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;700&display=swap');

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }
}

body{
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 700;
}